 .card{
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 width: 70%;
  margin:20px auto;
  padding: 20px;
 }
 .heading{
  font-weight: bold;
  font-size: large;
  color: rgb(53, 96, 224);
 }
 .sections{
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
 }
 .list{
  display: flex;
  gap: 30px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 }
 .list-items{
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
 }
 .project{
  background-color: rgb(249, 246, 246);
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  
 }
 .sub-heading{
  font-weight: 500;
  margin: 10px 0px;
  font-size: large;
  color:rgb(53, 96, 224) ;
 }
 .projDesc{
  color: rgb(90, 78, 78);
  margin: 10px 0px;
 }
 .projStatus{
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
 }